* {
    margin: 0;
    padding: 0;
}

/* top-header */

.top-heade {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0076D0, #51AAEE);
}

.top-head {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1465px;
    padding: 0 20px;
}

.top-sec {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-sec-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 12px;
    font-family: inter, sans-serif;
}

.top-sec-child p {
    font-size: 12px;
}

.top-sec-child i {
    font-size: 15px;
    color: black;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.head-logo {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    color: rgba(0, 118, 208, 1);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

nav a {
    text-decoration-line: none;
    color: rgba(0, 0, 0, 1);
    font-family: inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: #0076D0;
}

.btn button {
    background: linear-gradient(to right, #0076D0, #51AAEE);
    width: 174px;
    height: 36px;
    border-radius: 9px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn button:hover {
    background: linear-gradient(to right, #0122a6, #51AAEE);
}

.btn button:active {
    background: linear-gradient(to right, #021667, #51AAEE);
}

.fill-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background: linear-gradient(to right, #0076D0, #51AAEE);
}

.fill-details {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}

.form {
    width: 467px;
    height: 602px;
    opacity: 1;
    top: 5772px;
    left: 146px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #F6F6F6;
    padding: 64px;
}

.form h1 {
    font-family: inter;
    font-weight: 700;
    font-size: 35px;
    line-height: 21px;
    padding-bottom: 22px;
}

.form span {
    font-family: inter;
    font-weight: 700;
    font-size: 35px;
    line-height: 21px;
    padding-bottom: 22px;
    color: #0076D0;
}

.contact-img {
    width: 883px;
    height: 590px;
    opacity: 1;
    top: 5779px;
    left: 718px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img img {
    width: 677px;
    height: 510px;
    opacity: 1;
    top: 5803px;
    left: 755px;

}

.putname input,
.putnumber input {
    width: 339px;
    height: 40px;
    opacity: 1;
    border-radius: 10px;
    border-width: 1px;
    border: none;
    padding: 0 15px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.you-are-new select {
    width: 371px;
    height: 43px;
    opacity: 1;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    font-family: inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 28px;
    color: #8D8D8D;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.set-perfect-date {
    display: flex;
    gap: 28px;
}

.set-perfect-date select {
    width: 171px;
    height: 44px;
    border-radius: 10px;
    border-width: 1px;
    opacity: 1;
    padding: 0 15px;
    font-family: inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #8D8D8D;
    border: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.add-massage textarea {
    width: 339px;
    height: 73px;
    opacity: 1;
    border-radius: 10px;
    border-width: 1px;
    padding: 22px 15px;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8D8D8D;
    border: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.i-agree {
    display: flex;
    align-items: center;
    gap: 10px;
}

.i-agree label {
    font-family: inter;
    font-weight: 400;
    font-size: 8px;
    line-height: 28px;
}

.btn9 button {
    width: 371px;
    height: 40px;
    top: 6294px;
    left: 204px;
    border-radius: 9px;
    opacity: 1;
    background: linear-gradient(to right, #0076D0, #51AAEE);
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: white;
    border: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    transition: 0.4s; 
}

.btn9 button:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #0122a6, #51AAEE);
}
.btn9 button:active {
    background: linear-gradient(to right, #021667, #51AAEE);
}
